<div id="<%= dom_id colaborator %>">
  <p>
    <strong><%=colaborator.id%> Name:</strong>
    <%= colaborator.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= colaborator.email %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= colaborator.address %>
  </p>

</div>
